@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&family=Space+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: hsl(225, 100%, 94%);
    background-image: url(/Assets/IMGs/pattern-background-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    max-width: 90%;
    border-radius: 1.5625rem; /* 25px */
    overflow: auto;
    background-color: #fff;
    box-shadow: 0px 0.625rem 1.25rem hsl(224, 23%, 55%); /* 0px, 10px, 20px*/
}

.banner {
    min-width: 100%;
    max-width: 100%;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70%;
}

.text-container h1 {
    padding: 0.625rem; /* 10px */
    margin: 0.9375rem; /* 15px */
    width: 100%;
    font-weight: 900;
    font-family: "Red Hat Display", system-ui;
    font-size: 1.75rem; /* 28px */
    color: hsl(223, 47%, 23%);
}

.text-container p {
    width: 17.0625rem; /* 273px */
    font-size: 1rem; /* 16px */
    line-height: 1.875rem; /* 30px */
    font-family: "Red Hat Display", system-ui;
    font-weight: 500;
    color: hsl(224, 23%, 55%);
}

.icon-section {
    align-items: center;
    justify-content: center;
    margin: 1.25rem 0rem; /* 20px 0px */
    padding: 0rem 0.625rem; /* 0px 10px */
    display: flex;
    flex-direction: row;
    background-color: hsl(225, 100%, 98%);
    border-radius: 0.9375rem; /* 15px */
    font-family: "Red Hat Display", "cursive";
    font-size: 1rem; /* 16px */
}

.icon-card {
    display: flex;
    padding: 0.625rem; /* 10px */
}

.icon-card-p {
    padding-bottom: 0.15625rem; /* 2.5px */
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

.icon-card-p2 {
    padding-top: 0.15625rem; /* 2.5px */
    font-weight: 500;
    color: hsl(224, 23%, 55%);
}

.icon-card-p3 {
    font-weight: 700;
    cursor: pointer;
    color: hsl(245, 75%, 52%);
}

.icon-card-p3 u {
    margin-left: 1.875rem; /* 30px */
}

.icon-card-p3:hover {
    color: #6e64e2;
    transition: ease-in;
}

.payment-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.9375rem; /* 15px */
    padding: 0.9375rem 4.5625rem; /* 15px, 73px */
    margin: 0.625rem; /* 10px */
    font-size: 1rem; /* 16px */
    font-weight: 700;
    font-family: "Red Hat Display", system-ui;
    background-color: hsl(245, 75%, 52%);
    color: #fff;
    box-shadow: 0rem 1.25rem 1.875rem hsl(225, 100%, 86%); /* 0px, 20px, 30px */
    cursor: pointer;
    text-align: center;
    border: none;
}

.payment-button:hover {
    background-color: hsl(245, 67%, 63%);
}

.payment-button p {
    width: 10rem; /* 160px */
}

.cancel-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.9375rem; /* 15px */
    padding: 0.9375rem 4.5625rem; /* 15px, 73px */
    margin-bottom: 1.5625rem; /* 25px */
    font-size: 1rem; /* 16px */
    font-weight: 900;
    font-family: "Red Hat Display", system-ui;
    color: hsl(224, 23%, 55%);
    border: none;
    cursor: pointer;
}

.cancel-button p {
    width: 7.1875rem; /* 115px */
    text-align: center;
}

.cancel-button p:hover {
    color: hsl(223, 47%, 23%);
}

@media screen and (min-width: 1440px) {
    .wrapper {
        background-image: url(/Assets/IMGs/pattern-background-desktop.svg);
    }

    .cta {
        max-width: 26.875rem; /* 430px */
    }

    .text-container h1 {
        margin-top: 1.875rem; /* 30px */
        margin-bottom: 0.3125rem; /* 5px */
    }

    .icon-card-p3 u {
        margin-left: 3.75rem; /* 60px */
    }

    .payment-button {
        padding: 0.9375rem 5.5625rem ; /* 15px, 89px */
    }

    .text-container p {
        width: 18.4375rem; /* 295px */
    }

    .cancel-button {
        margin-bottom: 2.5rem; /* 40px */
    }
}

